{% extends 'base.html' %} {% block content %}

<main class="flex-grow-1 container">
  <div class="p-5">
    <form id="search-form">
      <input
        class="form-control mb-2"
        type="text"
        style="background-color: #e8edf5; color: #0d141c"
        placeholder="Search  books "
        name="title"
        id="search-input"
      />
    </form>
    <div class="d-flex justify-content-between">
      <div class="dropdown">
        <button
          id="status"
          class="btn btn-secondary dropdown-toggle border-0"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="true"
          style="background-color: #e8edf5; color: #0d141c"
        >
          Status
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item status-btn" value="">All</button>
          </li>
          <li>
            <button class="dropdown-item status-btn" value="to_read">
              To Read
            </button>
          </li>
          <li>
            <button class="dropdown-item status-btn" value="reading">
              Reading
            </button>
          </li>
          <li>
            <button class="dropdown-item status-btn" value="read">
              Finished
            </button>
          </li>
        </ul>
      </div>

      <button
        class="btn"
        style="background-color: var(--primary-color); color: white"
        data-bs-target="#exampleModalToggle"
        data-bs-toggle="modal"
      >
        Add Book
      </button>
    </div>
  </div>
  <section class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4">
    {% if books%} {% for book in books %}
    <div class="col book">
      <a href="/books/{{ book.id }}">
        <img
          src="{{ book.image }}"
          alt="{{ book.title }}"
          class="img-fluid rounded-3 mb-2 book-img"
        />
        <div class="text-center">
          <p class="fw-bold m-0">{{ book.title }}</p>
          <p>{{ book.author }}</p>
        </div>
      </a>
    </div>
    {% endfor %} {% else %}
    <div>Not Found</div>
    {% endif %}
  </section>
</main>
<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
          Search For Book
        </h1>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="position: relative">
        <input
          class="form-control"
          type="text"
          placeholder="Book Title"
          id="book-search"
          style="height: 100%"
        />
        <div class="results-list">results</div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal"
        >
          Add It Manually
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModalToggle2"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
          Add Book Manually
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form text-center" id="add-book-form">
          <input
            class="form-control mb-1"
            placeholder="Title"
            name="title"
            required
          />
          <input
            class="form-control mb-1"
            placeholder="Author"
            name="author"
            type="text"
            required
          />
          <input
            class="form-control mb-1"
            placeholder="Pages"
            type="number"
            name="pages"
            min="1"
            required
          />
          <input
            class="form-control mb-1"
            placeholder="Image Url"
            name="image"
          />
          <select class="form-control mb-1" name="status">
            <option value="to_read">To Read</option>
            <option value="read">Finished</option>
            <option value="reading">Reading</option>
          </select>
          <input type="submit" class="btn btn-primary" value="Add" />
        </form>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-bs-target="#exampleModalToggle"
          data-bs-toggle="modal"
        >
          Back to first
        </button>
      </div>
    </div>
  </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div
    class="toast align-items-center text-bg-{{ category }} border-0 mb-2 show"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-bs-autohide="true"
    data-bs-delay="3000"
  >
    <div class="d-flex">
      <div class="toast-body">{{ message }}</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
  {% endfor %} {% endif %} {% endwith %}
</div>
{%endblock%}
